<div class="banner">
<h2>OPPORTUNITIES
</h2>
<p>Each position will be listed along with the employer’s estimate of when it will open, any absolute minimum requirements they may have, and the amount of time they suggest you spend on the evaluation. We will deliver your completed evaluation straight to the person that matters.<br><br>

No HR departments to block your path, no silly job descriptions and requirements. Put in the effort and you will be recognized.
</p>
</div>
<hr>
<div class="opportunities-container">
	{{#companies}}
	<div class="company-container">
		<h3>{{name}}
		</h3>
		{{companyId}}
		{{#opportunities}}
		<div class='wrapper'>
		<table class="opportunities-table">
			<tbody>
				<tr> 
					<td class="opportunities name">{{position}}
					</td>
					<td class="opportunities timeframe">{{status}}</td>
				</tr>
			</tbody>
		</table>
		<div class="details-container">
		<table>
			<tbody class="details" id="{{id}}">
				<tr>
					<td class="view-details">Absolute minimum requirement: {{requirements}}</td>
				</tr>
				<tr>
					<td class="view-details">Estimated time to complete evaluation: {{timeestimate}}</td>
				</tr>
				<tr>
					<td class="view-details">Price: {{price}}</td>
				</tr>
				<tr>
					<td class="view-details">
						<button class="user-actions">
							<a href="/opportunities/{{companyId}}/evaluation/{{id}}">GET EVALUATION
							</a>
						</button>
						<!-- <label class="user-actions"> -->
						<button class="user-actions">
							<a href="/opportunities/{{companyId}}/evaluation/{{id}}/upload">UPLOAD EVALUATION
							</a>
						<!-- </label> -->
							</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		{{/opportunities}}
	</div>
	{{/companies}}
</div>

<script src="/javascripts/opportunities.js"></script>